<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <section id="main-container">
        <nav id="main-navi-container">
            <ul>
                <li>@Html.ActionLink(StenoCryptor.Web.Localization.Views.Home.Home_, HomeController.INDEX, HomeController.CONTROLLER)</li>
                @*<li>@Html.ActionLink(StenoCryptor.Web.Localization.Views.Home.GenerateKeys, HomeController.GENERATE)</li>*@
                <li>@Html.ActionLink(StenoCryptor.Web.Localization.Views.Home.EmbedDwm, HomeController.EMBED, HomeController.CONTROLLER)</li>
                <li>@Html.ActionLink(StenoCryptor.Web.Localization.Views.Home.DetectDwm, HomeController.DETECT, HomeController.CONTROLLER)</li>
                <li>@Html.ActionLink(StenoCryptor.Web.Localization.Views.Home.ExtractDwm, HomeController.EXTRACT, HomeController.CONTROLLER)</li>
                <li>@Html.ActionLink(StenoCryptor.Web.Localization.Views.Tools.ToolsTitle, ToolsController.INDEX, ToolsController.CONTROLLER)</li>
            </ul>
        </nav>
        <section id="render-body-section">
            @RenderBody()
        </section>
    </section>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
