@model StenoCryptor.Web.Models.FileModel 

@{
    ViewBag.Title = StenoCryptor.Web.Localization.Views.Home.EmbedDwm;
}

@Html.HiddenFor(m => m.FileName)
@Html.HiddenFor(m => m.ContentType)

<h2>@ViewBag.Title</h2>

<p>
    @string.Format(StenoCryptor.Web.Localization.Views.Home.FileProcessed, System.IO.Path.GetFileName((string)TempData[StenoCryptor.Commons.Constants.TempDataKeys.FILE_NAME]))
</p>
<p>
    @Html.ActionLink(StenoCryptor.Web.Localization.Views.Home.Download, StenoCryptor.Web.Controllers.SharedController.DOWNLOAD, StenoCryptor.Web.Controllers.SharedController.CONTROLLER, new { fileName = Model.FileName, contentType = Model.ContentType }, null)
</p>