@model StenoCryptor.Web.Models.EmbedDwmModel

@{
    ViewBag.Title = StenoCryptor.Web.Localization.Views.Home.EmbedDwm;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(HomeController.EMBED, HomeController.CONTROLLER, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <section class="row-container">
        <div class="row clear-fix">
            <div class="row-label">
                @Html.Label("photoFile", StenoCryptor.Web.Localization.Models.DwmEmbedModel.Container)
            </div>
            <div class="row-content">
                <input type="file" name="photoFile" id="photoFile" />
                @Html.ValidationMessage("photoFile", StenoCryptor.Web.Localization.Models.DwmEmbedModel.errFieldErrorMarker)
            </div>
        </div>
        <div class="row clear-fix">
            <div class="row-label">
                @Html.LabelFor(m => m.EmbedType, StenoCryptor.Web.Localization.Models.DwmEmbedModel.EmbedingType)
            </div>
            <div class="row-content">
                @Html.DropDownListFor(m => m.EmbedType, new SelectList(Enum.GetValues(typeof(StenoCryptor.Commons.Enums.EmbedType))))
            </div>
        </div>
        <div class="row clear-fix">
            <div class="row-label">
                @Html.LabelFor(m => m.CryptType, StenoCryptor.Web.Localization.Models.DwmEmbedModel.CryptingType)
            </div>
            <div class="row-content">
                @Html.DropDownListFor(m => m.CryptType, new SelectList(Enum.GetValues(typeof(StenoCryptor.Commons.Enums.CryptType))))
            </div>
        </div>
        <div class="row clear-fix">
            <div class="row-label">
                @Html.LabelFor(m => m.Key, StenoCryptor.Web.Localization.Models.DwmEmbedModel.CryptPassword)
            </div>
            <div class="row-content">
                @Html.EditorFor(m => m.Key)
            </div>
        </div>
        <div class="row clear-fix">
            <div class="row-label">
                @Html.LabelFor(m => m.Message, StenoCryptor.Web.Localization.Models.DwmEmbedModel.Message)
            </div>
            <div class="row-content">
                @Html.TextAreaFor(m => m.Message)
                @Html.ValidationMessage("Message", StenoCryptor.Web.Localization.Models.DwmEmbedModel.errFieldErrorMarker)
            </div>
        </div>
        <div class="row clear-fix">
            @Html.ValidationSummary(false)
        </div>
        <div class="row clear-fix">
            <div class="row-label hidden-fix">.</div>
            <div class="row-content">
                <input type="submit" value="@StenoCryptor.Web.Localization.Views.Home.Go" />
            </div>
        </div>
    </section>
}