@model StenoCryptor.Web.Models.DwmModel

@{
    ViewBag.Title = StenoCryptor.Web.Localization.Views.Home.EmbedDwm;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(StenoCryptor.Web.Controllers.HomeController.EMBED, StenoCryptor.Web.Controllers.HomeController.CONTROLLER, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row-container">
        <div class="row clear-fix">
            <div class="row-label">
                @Html.Label("photoFile", StenoCryptor.Web.Localization.Models.DwmEmbedModel.Container)
            </div>
            <div class="row-content">
                <input type="file" name="photoFile" id="photoFile" data-val-required="*" data-val="true" />
            </div>
        </div>
        <div class="row clear-fix">
            <div class="row-label">
                @Html.LabelFor(m => m.EmbedType, StenoCryptor.Web.Localization.Models.DwmEmbedModel.EmbedingType)
            </div>
            <div class="row-content">
                @Html.DropDownListFor(m => m.EmbedType, new SelectList(Enum.GetValues(typeof(StenoCryptor.Commons.Enums.EmbedType))))
            </div>
        </div>
        <div class="row clear-fix">
            <div class="row-label">
                @Html.LabelFor(m => m.CryptType, StenoCryptor.Web.Localization.Models.DwmEmbedModel.CryptingType)
            </div>
            <div class="row-content">
                @Html.DropDownListFor(m => m.CryptType, new SelectList(Enum.GetValues(typeof(StenoCryptor.Commons.Enums.CryptType))))
            </div>
        </div>
        <div class="row clear-fix">
            <div class="row-label">
                @Html.LabelFor(m => m.CryptPassword, StenoCryptor.Web.Localization.Models.DwmEmbedModel.CryptPassword)
            </div>
            <div class="row-content">
                @Html.TextBoxFor(m => m.CryptPassword)
            </div>
        </div>
        <div class="row clear-fix">
            <div class="row-label">
                @Html.LabelFor(m => m.Message, StenoCryptor.Web.Localization.Models.DwmEmbedModel.Message)
            </div>
            <div class="row-content">
                @Html.TextAreaFor(m => m.Message)
            </div>
        </div>
        <div class="row clear-fix">
            @Html.ValidationSummary(false)
        </div>
        <div class="row clear-fix">
            <div class="row-label hidden-fix">.</div>
            <div class="row-content">
                <input type="submit" value="@StenoCryptor.Web.Localization.Views.Home.Go" class="submit-button" />
            </div>
        </div>
    </div>
}