@model StenoCryptor.Web.Models.GenerateKeyModel

@{
    ViewBag.Title = StenoCryptor.Web.Localization.Views.Home.GenerateKeys;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(HomeController.GENERATE, HomeController.CONTROLLER, new { enctype = "multipart/form-data" }, FormMethod.Post, null))
{
    <section class="row-container">
        <div class="row clear-fix">
            <div class="row-label">
                @Html.Label("photoFile", StenoCryptor.Web.Localization.Models.DwmEmbedModel.Container)
            </div>
            <div class="row-content">
                <input type="file" name="photoFile" id="photoFile" />
            </div>
        </div>
        <div class="row clear-fix">
            <div class="row-label">
                @Html.LabelFor(m => m.CryptType, StenoCryptor.Web.Localization.Models.DwmEmbedModel.CryptingType)
            </div>
            <div class="row-content">
                @Html.DropDownListFor(m => m.CryptType, new SelectList(Enum.GetValues(typeof(StenoCryptor.Commons.Enums.CryptType))))
            </div>
        </div>
        <div class="row clear-fix">
            <div class="row-label">
                @Html.LabelFor(model => model.Key, StenoCryptor.Web.Localization.Models.DwmEmbedModel.CryptPassword)
            </div>
            <div class="row-content">
                @Html.EditorFor(model => model.Key)
                @Html.ValidationMessageFor(model => model.Key)
            </div>
        </div>
        
        @Html.ValidationSummary(false)

        <div class="row clear-fix">
            <div class="row-label hidden-fix">.</div>
            <div class="row-content">
                <input type="submit" value="@StenoCryptor.Web.Localization.Views.Home.Go" />
            </div>
        </div>
    </section>
}
